@use 'colors';

#accordion-card {
  @media (min-width: 376px) {
    width: 512px;
  }
  @media (max-width: 375px) {
    width: 80%;
  }

  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: colors.$White;
  font-size: 16px;
  width: 512px;
  border-radius: 4%;

  #accordion-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    h1 {
      @media (min-width: 376px) {
        font-size: 48px;
      }
      @media (max-width: 375px) {
        font-size: 32px;
      }

      font-weight: 700;
      padding-left: 16px;
    }

    img {
      @media (max-width: 375px) {
        width: 24px;
      }
    }
  }

  .accordion-row {
    p {
      overflow: hidden;
      height: 0px;
      margin: 0px;
      transition:
        height 0.5s ease-out,
        margin 0.5s ease-out;
    }

    .accordion-row-title {
      display: flex;
      align-content: center;
      justify-content: space-between;

      h2 {
        padding-right: 20px;
        font-size: 16px;
        color: colors.$DarkPurple;
        font-weight: 600;
      }

      button {
        width: 30px;
        height: 30px;
        align-self: center;
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 0;
        margin: 0;
        border: 0;
        background-color: colors.$White;

        img {
          width: 30px;
          height: 30px;
        }

        img:hover {
          cursor: pointer;
        }
      }
    }
    .accordion-row-description {
      color: colors.$GrayishPurple;
      font-weight: 400;
    }
  }

  .accordion-divider {
    background-color: colors.$LightPink;
    height: 1px;
    min-height: 1px;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
